azure-cognitiveservices-speech
ibm-watson
pocketsphinx
PyAudio==0.2.13
python-3.10
SpeechRecognition>=3.8.1
sounddevice>=0.4.6
vosk>=0.3.45
streamlit-audio-rec>=0.0.3  # if using browser audio capture
soundfile>=0.12.1
